<br/>
  <div class="container">
    <div class="media">
      <div class="container">
        <div class="media-left">
          <% if @user.image.present? %>
            <%= image_tag @user.image(:thumb) %>
          <% else %>
            <a href="http://vignette1.wikia.nocookie.net/questworld/images/4/47/Comic_image_missing.png/revision/latest?cb=20100421133705"></a>
          <% end %>
        </div>

        <div class="media-body">
          <div class="media-heading">
            <%= @user.name %><br />
            <%= @user.email %>
          </div>
        </div>
      </div>
    </div>
    <br />
      <div class="row">
        <div class="container">

          <h2 class="center"><%="#{@user.name||email}'s posts" %></h2>
            <br />
          <div class="center">
            <% @posts.each do |post| %>
              <%= link_to image_tag(post.image.url(:thumb)), post %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
