<br/>
  <div class="container">
    <div class="media">
      <div class="container">
        <div class="media-left">
          <% if @user.image? %>
            <%= image_tag @user.image(:thumb) %>
          <% else %>
            <%= gravatar_for(@user.email, 64) %>
          <% end %>
        </div>


        <div class="chat_link">
          <% if user_signed_in? %>
            <%= link_to mailbox_inbox_path do %>
              <span class="label label-danger"><%=unread_messages_count%></span>
              <span>Messages</span>
            <% end %>
          <% end %>
        </div>
        

        <div class="media-body">
          <div class="media-heading">
            <%= @user.name %><br />
            <%= @user.email %>
          </div>
        </div>
      </div>
    </div>
    <br />
      <div class="row">
        <div class="container">
          <div class="col-md-4">
            <%= link_to "Sell", new_post_path, class: 'btn btn-primary' %>
          </div>
            <h2 class="center">My Posts</h2>
          <br />

          <div class="center">
            <% @posts.each do |post| %>
              <%= link_to image_tag(post.image.url(:thumb)), post %>
            <% end %>
          </div>
            <h2 class="center">Watchlisted</h2>
          <br />
          <div class="center">
            <% @watchlisted_posts.each do |post| %>
              <%= link_to image_tag(post.image.url(:thumb)), post %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
