<h1 class="title">Trash and Treasures</h1>

<div class="container">
  <div class="col-md-4">
    <% if policy(@posts).new? %>
      <%= link_to "Sell", new_post_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
<br />
</div>

<div class="center">
  <%= form_tag search_path, method: :get do %>
    <%= text_field_tag 'keyword', nil %>
  <% end %>
</div>

<br />

<div class="container">
  <% @posts.each do |post| %>
    <div class='media'>
      <div class='media-left'>
        <%= link_to(image_tag(post.image.url(:thumb), class: 'media-object'), post) %>
      </div>
      <div class="media-body">
        <h3><%= post.description %></h3>
          <small>Posted by <%= link_to(post.owner.handle, post.owner) %></small>
      </div>
    </div>
  <% end %>
</div>
