<%= form_for @post, html: { multipart: true }  do |f| %>
  <div class="form-group">
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %><br />
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, rows: 4, class: 'form-control', placeholder: 'Description' %><br />
    </div>

    <div class="field">
      <%= f.label :price %><br />
      <%= f.text_field :price, class: 'form-control', placeholder: 'price' %><br />
    </div>

    <div class="field">
      <%= f.label :number %><br />
      <%= f.text_field :number, class: 'form-control', placeholder: 'number' %><br />
    </div>

    <div class="field">
      <%= f.file_field :image %><br>
    </div>

    <div class="field">
      <%= f.submit "Save" %>
    </div>
  </div>
<% end %>
