<div class="container"><br />
  <div class="col-md-4">
    <% if policy(@post).update? %>
      <%= link_to "Edit Post", edit_post_path, class: 'btn btn-success' %>
    <% end %>

    <% if policy(@post).destroy? %>
      <%= link_to "Sold", @post, method: :delete, class: 'btn btn-danger', data: {confirm: 'Mark item as Sold?'} %>
    <% end %>
  </div>

  <div class="center">
    <%= image_tag @post.image.url(:thumb) %>
  </div>

  <div class="center">
    <h1><%= @post.title %></h1>
  </div>

  <!--- My link to the owner of a post --->
  <div class="center">
    <small>by:<%= link_to @owner.name, user_path(@post, @owner) %></small>
  </div>
  <!----->
  <div class="col-md-4">
    <h4>Description</h4>
    <p><%= @post.description %></p>
  </div>

  <div class="col-lg-12">
    <div class="pull-right">
      <% if user_signed_in? && current_user != @post.owner %>
        <%= render partial: 'watchlists/watchlist', locals: { post: @post, watchlist: @watchlist } %>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <h4>price</h4>
    <p><%= number_to_currency @post.price %></p>
  </div>

  <div class="col-md-4">
    <h4>number</h4>
    <p><%= @post.number %></p>
  </div>

  <div class="center">
    <% if current_user != @post.owner %>
      <%= render partial: 'charges/form' %>
    <% end %>
  </div>
</div>
