<ul class="nav nav-tabs">
  <div class="navbar-header">
    <div class="navbar-brand"><%= link_to image_tag("trash_and_treasure.png", size: "50x50"), home_index_path %></div>
  </div>
  <% if user_signed_in? %>
    <div id="profile_pic">
      <li class="dropdown pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <% if current_user.image? %>
              <%= image_tag current_user.image, size: "70x70" , class: "round_img" %>
            <% else %>
              <%= gravatar_for(@user.email, 64) %>
            <% end %>
          </button>

        <ul class="dropdown-menu">
          <li>
            <%= link_to "Profile", user_path(current_user) %>
          </li>
          <li>
            <div class="chat_link">
              <%= link_to mailbox_inbox_path do %>
                <span class="label label-danger"><%=unread_messages_count%></span>
                <span>Messages</span>
              <% end %>
            </div>
          </li>

          <li>
            <%= link_to "Settings", edit_user_registration_path, class: 'navbar-link' %>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'navbar-link' %>
          </li>

        </ul>
      </li>
    </div>
  <% end %>


  <li>
    <h3 id="title">Trash and Treasures</h1>
  </li>

  <!-- <div id="search_box">
    <%= form_tag search_path, method: :get do %>
      <div>
        <%= text_field_tag 'keyword', nil %>
      </div>
    <% end %>
  </div> -->


  <div class="pull-right user-info">
    <% if !user_signed_in? %>
      <%= link_to "Sign Up", new_user_registration_path, class: 'navbar-link' %> -
      <%= link_to "Sign In", new_user_session_path, class: 'navbar-link' %>
    <% end %>
  </div>


</ul>
